venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
.terraform.tfvars
.terraform.tfvars.json
.DS_Store
 clashflask.py
 clashflaskapi.py
terraform.tfvars
*.tfvars